{% extends 'users/base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="col-md-2">
        <a href="{% url 'login' %}">Login</a>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="nameorganization">Nombre de la organizacion</label>
            <input type="text" name="nameorganization" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" required="required">
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" class="form-control" required="required">
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label for="lat">lat</label>
            <input type="text" name="lat" class="form-control" required="required"/>
        </div>


        <div class="form-group">
            <label for="lon">lot</label>
            <input type="text" name="lon" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label for="zoom_level">zoom level</label>
            <input type="text" name="zoom_level" class="form-control" required="required"/>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-save"></span> Submit</button>
        </div>
    </div>
</form>
{% endblock %}
